extends layout

append content
	#info
	canvas(id="rover-canvas" width="100%" height="100")

	#buttons
		input#walkButton(type="button" value="WALK" onClick="setWalk()")
		input#danceButton(type="button" value="DANCE" onClick="setDance()")
		input#restButton.selected(type="button" value="STOP" onClick="setStop()")

	script(src="/socket.io/socket.io.js")
	script(type='text/javascript').
		var socket = io.connect();
		socket.on('news', function (data) {
			console.log(data);
			socket.emit('my other event', { my: 'data' });
		});
		
	script(src='javascripts/littlebug-utilities.js')
	script(src='javascripts/littlebug.js')

