body {
    padding: 0px;
    margin: 0px;
}

#danceButton, #walkButton, #restButton {
    position: absolute;
    bottom: 10px;
}

#walkButton {
    left: 10px;
}

#danceButton {
    left: 92px;
}

#restButton {
    left: 180px;
}

#selectedMode {
    width: 80px;
    height: 24px;
    background: #FFFF00;
    position: absolute;
    left: 170px;
    bottom: 10px;
}