html, body {
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    width:  100%;
    height: 150%;
    border: 0;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
}

p {
    margin: 0;
    padding: 0;
}

#info {
    margin: 5px;
    position: absolute;
    color: gray;
}


#status {
    #status-text {
        line-height: 20px;
        position: absolute;
        right: 40px;
        top: 10px;
        text-align: right;
        font-weight: bold;
    }
    
    #status-icon {
        position: absolute;
        background-color: yellow;
        width: 20px;
        height: 20px;
        right: 10px;
        top: 10px;
        border-radius: 10px;
    }
    
    &.online {
        //#status-text:after { content: "ONLINE"; }
        #status-icon { background-color: #00FF00; /* Green*/ }
    }
    
    &.offline {
        //#status-text:after { content: "OFFLINE"; }
        #status-icon { background-color: red; }
    }
    
    &.error {
        //#status-text:after { content: "ERROR"; }
        #status-icon { background-color: red; }
    }
}

canvas {
    padding: 0px;
    margin: 0px;
    background-color: #FFFFFF; // blue;
    //background-color: blue;
    border: 0;
    //width: 320px;
    //height: 356px;
    cursor: default;
}

#buttons {
    position: absolute;
    bottom: 10px;
    left: 0px;
    right: 0px;
    text-align: center;
}

input {
    -webkit-appearance: none;
    text-align: center;
    font-size: 10px;
    display: inline-block;
    width: 50px;
    height: 50px;
    border: none;
    border: 1px solid gray;
    border-radius: 50%;
    background: #ffffff;
    margin: 15px;
    padding: 0px;
    font-weight: bold;
    text-overflow:clip;

    &.selected {
        border: none;
        color: white;
        //background-color: red;
        
        &#walkButton, &#danceButton {
            background-color: #00FF00;
        }

        &#restButton {  
            background-color: red;
        }
    }
    
    &:focus {
        outline: none;
    }

}